.wy-side-nav-search {
    background-color: #82b6cd; 
  }
  
  .wy-nav-top {
    background-color: #82b6cd; /* Same color for mobile navigation */
  }
  
  .wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #8B008B; /* Change section header colors */
  }
  
  /* Change link colors */
  a {
    color: #5e3aa5; /* Medium purple for links */
  }
  
  a:hover {
    color: #82b6cd; /* Medium orchid for hover state */
  }