.wy-side-nav-search {
    background-color: #2f4f4f; 
  }
  
  .wy-nav-top {
    background-color: #2f4f4f; /* Same color for mobile navigation */
  }
  
  .wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #cd8f5a; /* Change section header colors */
  }
  
  /* Change link colors */
  a {
    color: #82b6cd; /* Medium purple for links */
  }
  
  a:hover {
    color: #cd8f5a; /* Medium orchid for hover state */
  }

  .admonition.note {
    background: #749191; 
  }

  .admonition-title {
    background: #2f4f4f; 
  }
  p.admonition.title {
    background: #2f4f4f; 
  }
  .admonition.note.title {
    background: #2f4f4f; 
  }
  .wy-nav-side{
    background: #373736; 
  }

.rst-content .note .admonition-title {
    background-color: #2f4f4f; 
}